doctype html
html(lang="fr")
	head
		link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/css/ionicons.min.css")
		link(rel="stylesheet", type="text/css", href="/css/monStyle.css")
		link(rel="stylesheet", type="text/css", href="/js/strapdown/strapdown.css")
		link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons")
		link(rel='shortcut icon', href='/favicon.png')
	body
		a(href="/courses/"+course_id+'?ay='+academic_year)
			button.btn.btn-label Go back
		textarea(theme="") #{code_md}

block scripts
	script(src="/js/strapdown/strapdown.js", type="text/javascript")
